<div class="notifikasi" [ngClass]="(typeNotif)? 'notifikasi-success': 'notifikasi-error'" *ngIf="isNotif">{{notif}}</div>
<header class="header">
  <h4>Apps Registrations</h4>
  <label for="search-input" class="search-input" *ngIf="!isMobile">
    <i class="fi fi-br-search"></i>
    <input type="text" placeholder="Telusuri Daftar Registrasi" (keyup)="onSubmitSearchingData($event)">
  </label>
  <nav>
    <button class="button-menu" type="button"  *ngIf="isMobile" (click)="goToComponentAside()">
      <i class="fi fi-br-menu-burger"></i>
    </button>
  </nav>
  <aside id="mobile" *ngIf="isMenuMobile && isMobile ">
    <label for="search-input" class="search-input">
      <i class="fi fi-br-search"></i>
      <input type="text" placeholder="Telusuri Daftar Registrasi" (keyup)="onSubmitSearchingData($event)">
    </label>
  </aside>
</header>

<main>
  <router-outlet></router-outlet>
</main>